/* Login BODY */
.container{
    height: 100vh;
}

.body-wrap-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    min-width: 900px;
    min-height: 100vh;
}

.login-grop-1 {
    background-color: white;
    width: 800px;
    height: 600px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-layout-1 {
    width: 400px;
    height: 500px;

}

.login-input-layout {
    margin-top: 32px;
}

.login-input-title {
    color: #130c0e;
    font-size: 20px;
    font-weight: 600;
    margin-top: 32px;
}

.login-input-wrap {
    display: flex;
    border: 2px solid #dfdfdf;
    padding: 16px;
    border-radius: 8px;
    margin-top: 8px;
}

.login-input-wrap:focus-within {
    border: 2px solid #4e82eb;
}

.input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    height: 20px;
}

.input::placeholder {
    color: #dadada;
}

.login-error-message {
    font-size: 12px;
    color: red;
    margin-top: 8px;
    padding-left: 8px;
}

.loginButton {
    width: 100%;
    height: 80px;
    border: none;
    font-weight: 700;
    border-radius: 8px;
    margin-top: 32px;
    background-color: #4e82eb;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.loginButton:disabled {
    background-color: #dadada;
    color: white;
}


/* HOME BODY */
.home-grop-1 {
    min-width: 1000px;
    padding: 16px 32px;
    display: flex;
    flex-grow: calc(3 1);
}

.home-layout-1 {
    width: 60%;
    height: 500px;
    background-color: white;
    margin-right: 16px;
    border-radius: 16px;
}

.home-layout-2 {
    width: 40%;
    height: 500px;
    background-color: white;
    margin-left: 16px;
    border-radius: 16px;
}

.home-layout-header {
    height: 60px;
    display: flex;
    align-items: center;
}

.home3-layout-header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-layout-header > h3 {
    font-size: 20px;
    font-weight: 600;
    padding: 0 16px;
}

.home-layout-header > span {
    color: #787677;
}

.home3Title {
    display: flex;
    align-items: center;
}

.home3Title > h3 {
    font-size: 20px;
    font-weight: 600;
    padding: 0 16px;
}

.home3Title > span {
    color: #787677;
}

.home3Button {
    padding-right: 24px;
}

.home3Button > button {
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    margin-right: 8px;
}

.home1Contents {
    height: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home1Contents > iframe {
    width: 100%;
    height:440px;
    border-radius: 0 0 16px 16px;
}

.graphTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 32px;
}

.ppmText {
    color: #4e82eb;
    font-size: 14px;
    padding-right: 4px;
}

.home2Graph > meter {
    width: 100%;
    padding: 0 32px;
}

.home2Graph > meter::-webkit-meter-bar {
    border: none;
}

.home2Graph > meter::-webkit-meter-optimum-value {
    background: #4ea82eb;
}

.homeBtnst1 {
    background-color: #FDF2E2;
    color: #A06500;
}

.homeBtnst2 {
    background-color: #E2DAFF;
    color: #8906C3;
}

.homeBtnst3 {
    background-color: #FAD9ED;
    color: #BF0B78;
}

.homeBtnst4 {
    background-color: #B4CDCE;
    color: #2C7679;
}

.homePrint {
    width: 100%;
    display: flex;
    justify-content: end;
}

.homePrintBtn {
    padding: 8px 32px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #4e82eb;
    margin-right: 32px;
}

.homeGraph {
    width: 100%;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;

}


/* SETTING BODY */
.body-wrap-setting {

}

.setting-grop-1 {
    padding: 16px 32px 32px 32px;
    display: flex;
    min-width: 1000px;
    height: 960px;
}

.setting-layout-1 {
    width: 40%;
    height: 100%;
    background-color: white;
    margin-right: 16px;
    border-radius: 16px;
}

.setting-layout-2 {
    width: 60%;
    margin-left: 16px;
}

.setting-layout-2_1 {
    width: 100%;
    height: 48.5%;
    background-color: white;
    border-radius: 16px;
}

.setting-layout-2_2 {
    width: 100%;
    height: 48.5%;
    background-color: white;
    border-radius: 16px;
    margin-top: 32px;
}

.setting-layout-header {
    height: 60px;
    display: flex;
    align-items: center;
}

.setting-layout-header > h3 {
    font-size: 20px;
    font-weight: 600;
    padding: 0 16px;
}

.setting-layout-header > span {
    color: #787677;
}

/* CUSTOMER BODY */

.customer-grop-1 {
    padding: 16px 32px 32px 32px;
    display: flex;
    min-width: 1000px;
    height: 960px;
}

.customer-layout-1 {
    width: 50%;
    height: 100%;
    background-color: white;
    margin-right: 16px;
    border-radius: 16px;
}

.customer-layout-2 {
    width: 50%;
    height: 100%;
    background-color: white;
    margin-left: 16px;
    border-radius: 16px;
}

.customer-layout-header {
    height: 60px;
    display: flex;
    align-items: center;
}

.customer-layout-header > h3 {
    font-size: 20px;
    font-weight: 600;
    padding: 0 16px;
}

.customer-layout-header > span {
    color: #787677;
}